<app-modal [dialogProps]="dialogProps">
  <div class="otp-content">
    <div class="title">
      <p>تحقق من الموبيل</p>
    </div>
    <div class="desc">
      <p>{{'otp.enter_degits'|translate}} <span>{{ mobileNumber }}</span> </p>
    </div>
    <div class="otp">
      <p-inputotp (onChange)="checkOtpValue($event)" [(ngModel)]="otp" [length]="4" [integerOnly]="true" />
    </div>
    <div class="timer">
      {{ getFormattedTimer() }}
      <span *ngIf="timer === 0" (click)="resend()" class="resend-link">Resend OTP</span>
    </div>
  </div>
</app-modal>
