<div class="special-section-container ">
    <div class="content container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-title">
                    <p class="title">
                        خدمات استثنائية لحالات استثنائية
                    </p>
                   <div class="main-desc">
                    <p class="desc">
                        لما يكون الوقت مهم أو الطلب غير تقليدي، خدماتنا المميزة بتقدملك الحل فورًا. 
                    </p>
                    <p class="desc">
                        من الأعطال الطارئة
                        اللي محتاجة تدخل فوري، لطلبات خاصة بتفاصيل استثنائية — نخدمك بكفاءة وسرعة.
                    </p>
                   </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="cards col-lg-6 col-md-6 col-sm-12">
                <div class="card-content order">
                    <div class="image-section">
                        <img src="assets/images/icons-svg/four.svg" alt="">
                    </div>
                    <div class="title">
                        <p>خدمة سريعة وآمنة</p>
                    </div>
                    <div class="desc">
                        <p>نضمن لك تنفيذ الخدمة بسرعة وبأعلى معايير الأمان، باستخدام أحدث التقنيات وإجراءات دقيقة لضمان
                            سلامتك وراحتك</p>
                    </div>
                    <div class="action">
                        <p>أطلب خدمة الان</p>
                        <img src="assets/images/icons-svg/arrow.svg" alt="">
                    </div>
                </div>
            </div>
            <div class="cards col-lg-6 col-md-6 col-sm-12">
                <div class="card-content emergency">
                    <div class="image-section">
                        <img src="assets/images/icons-svg/five.svg" alt="">
                    </div>
                    <div class="title">
                        <p>فنيون محترفون ومعتمدون</p>
                    </div>
                    <div class="desc">
                        <p>فريقنا يتكون من فنيين ذوي خبرة عالية ومعتمدين، يقدمون لك خدمات احترافية وفقًا لأعلى المعايير
                            لضمان جودة الأداء </p>
                    </div>
                    <div class="action">
                        <p>أطلب خدمة الان</p>
                        <img src="assets/images/icons-svg/arrow.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>