<div class="special-section-container">
    <div class="content container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-title">
                    <p class="title">
                        {{ 'SPECIAL_SECTION.TITLE' | translate }}
                    </p>
                    <div class="main-desc">
                        <p class="desc">
                            {{ 'SPECIAL_SECTION.DESCRIPTION_LINE1' | translate }}
                        </p>
                        <p class="desc">
                            {{ 'SPECIAL_SECTION.DESCRIPTION_LINE2' | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="cards col-lg-6 col-md-6 col-sm-12" (click)="goOrder('s')">
                <div class="card-content order">
                    <div class="image-section">
                        <img src="assets/images/icons-svg/four.svg" alt="" />
                    </div>
                    <div class="title">
                        <p>{{ 'SPECIAL_SECTION.SPECIAL_REQUESTS.TITLE' | translate }}</p>
                    </div>
                    <div class="desc">
                        <p>{{ 'SPECIAL_SECTION.SPECIAL_REQUESTS.DESCRIPTION' | translate }}</p>
                    </div>
                    <div class="action">
                        <p>{{ 'SPECIAL_SECTION.ACTION' | translate }}</p>
                        <img src="assets/images/icons-svg/arrow.svg" alt="" />
                    </div>
                </div>
            </div>

            <div class="cards col-lg-6 col-md-6 col-sm-12" (click)="goOrder('e')">
                <div class="card-content emergency">
                    <div class="image-section">
                        <img src="assets/images/icons-svg/five.svg" alt="" />
                    </div>
                    <div class="title">
                        <p>{{ 'SPECIAL_SECTION.EMERGENCY.TITLE' | translate }}</p>
                    </div>
                    <div class="desc">
                        <p>{{ 'SPECIAL_SECTION.EMERGENCY.DESCRIPTION' | translate }}</p>
                    </div>
                    <div class="action">
                        <p>{{ 'SPECIAL_SECTION.ACTION' | translate }}</p>
                        <img src="assets/images/icons-svg/arrow.svg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>