<div class="special-section-container ">
    <div class="content container">
        <div class="row">
            <div class="cards col-lg-6 col-md-6 col-sm-12">
                <div class="card-content order">
                    <div class="image-section">
                        <img src="assets/images/icons-svg/four.svg" alt="">
                    </div>
                    <div class="title">
                        <p>خدمة سريعة وآمنة</p>
                    </div>
                    <div class="desc">
                        <p>نضمن لك تنفيذ الخدمة بسرعة وبأعلى معايير الأمان، باستخدام أحدث التقنيات وإجراءات دقيقة لضمان سلامتك وراحتك</p>
                    </div>
                </div>
            </div>
            <div class="cards col-lg-6 col-md-6 col-sm-12">
                <div class="card-content emergency">
                    <div class="image-section">
                        <img src="assets/images/icons-svg/five.svg" alt="">
                    </div>
                    <div class="title">
                        <p>فنيون محترفون ومعتمدون</p>
                    </div>
                    <div class="desc">
                        <p>فريقنا يتكون من فنيين ذوي خبرة عالية ومعتمدين، يقدمون لك خدمات احترافية وفقًا لأعلى المعايير لضمان جودة الأداء </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>