<div class="slider-section">
    <app-slider-section></app-slider-section>
</div>

<div class="description-section">
    <app-description-section></app-description-section>
</div>

<div class="main-services-section">
    <app-main-services-section></app-main-services-section>
</div>

<div class="special-services-section">
    <app-special-services-section></app-special-services-section>
</div>


<!-- YOUR PART START FROM HERE  -->

<div class="who-we-are-section">
    <app-who-are-we-section></app-who-are-we-section>
</div>

<div class="how-we-work-section">
    <app-how-we-work-section></app-how-we-work-section>
</div>

<div class="order-now-section">
    <app-order-now-section></app-order-now-section>
</div>