.page-content{
    .info{
            padding: 20px;

   .header{
    margin-top: 20px;
     font-size: 32px;
     font-weight: bolder;
     color:#fff
    }
    .desc{
      font-size: 20px;
      color:#E6E6E6;
        margin-top: 10px;
    }
    }
 
}