<div class="container">
  <div class="d-flex justify-content-center mb-3">
    <button class="btn btn-default w-250" (click)="onRequest()">
      {{ "actions.request" | translate }}
    </button>
  </div>
    <div class="status">
      <span
        [class.active-status]="activeStatus == 'pending'"
        class="btn"
        (click)="onSelectStatus('pending')"
      >
        <span class="name">{{ "ORDERS.PENDING" | translate }}</span>
        <span class="count">{{ ordersCount?.pendingOrdersCount || 0 }}</span>
      </span>
      <span
        [class.active-status]="activeStatus == 'complete'"
        class="btn"
        (click)="onSelectStatus('complete')"
      >
        <span class="name">{{ "ORDERS.COMPLETE" | translate }}</span>
        <span class="count">{{ ordersCount?.completedOrdersCount || 0 }}</span>
      </span>
      <span
        [class.active-status]="activeStatus == 'cancel'"
        class="btn"
        (click)="onSelectStatus('cancel')"
      >
        <span class="name">{{ "ORDERS.CANCEL" | translate }}</span>
        <span class="count">{{ ordersCount?.canceledOrdersCount || 0 }}</span>
      </span>
    </div>
  <div class="orders mt-5">
    <ng-container *ngIf="orders.length > 0; else empty">
      <div class="card mt-3 mb-3" *ngFor="let item of orders">
        <div class="p-4">
          <div class="header d-flex justify-content-between">
            <span class="bold"
              >{{
                currentlang == "en"
                  ? item.specialOrderName
                  : item.specialOrderName
              }}
              <span> - #{{ item.specialOrderId }}</span>
            </span>
            <span [class]="getStatusClass(item.specialOrderStatus)" class="all-status">
              {{ getOrderStatusText(item.specialOrderStatus) }}
              <span class="pi pi-circle-on"></span>
            </span>
          </div>
          <!-- <div class="d-flex justify-content-start">
            <div>
              <span class="bold"> {{ item.orderTotal??0}} </span>
              <span class="text-gray-light">{{
                "ORDERS.SAR" | translate
              }}</span>
            </div>
            <div class="tax">{{ "ORDERS.VAT_INCLUDED" | translate }}</div>
          </div> -->
            <!-- <div class="mt-5 d-flex justify-content-between">
            <span class="bold">{{'PACKAGE_DETAILS.specialOrderDate'|translate}}</span>
            <span>{{item.specialOrderDate | date:'YYYY-MM-dd (HH:mm a)'}} </span>
          </div> -->
          <div class="mt-3 d-flex justify-content-between">
            <span class="bold">{{'PACKAGE_DETAILS.PRICE'|translate}}</span>
            <span>{{item.price??0}} {{'ORDERS.SAR' | translate}}</span>
          </div>
              <!-- <div class="mt-3 d-flex justify-content-between">
            <span class="bold">{{'amount'|translate}}</span>
            <span>{{item.amount??0}}</span>
          </div> -->
          <div class="mt-3">
            <span class="bold block">{{ "PACKAGE_DETAILS.MEDIA" | translate }} </span>
           
           <ng-container *ngIf="item.media && item.media.length > 0; else noMedia">
           <div class="mt-2" *ngFor="let mediaItem of item.media">
              <img
                *ngIf="mediaItem.mediaTypeEnum == 1"
                [src]="baseImgUrl + mediaItem.src"
                class="media-image m-1"
                alt="Media Image"
                width="150px"
                height="150px"
              />
              <video
                *ngIf="mediaItem.mediaTypeEnum == 2"
                [src]="baseImgUrl + mediaItem.src"
                class="media-video m-1"
                width="150px"
                height="150px"
                controls
              ></video>
             </div>
          </ng-container>
           <ng-template #noMedia>
             <div class="text-center">
               <span class="bold"> {{ "order_details.no_img" | translate }}</span>
             </div>
           </ng-template>
          </div>
          <div class="mt-3">
            <span class="bold">{{ "order_details.notes" | translate }} </span>

            <span class="bold block text-gray-light">{{ item.notes }} </span>
          </div>
          <!-- <div class="d-flex justify-content-start mt-3">
            <div class="margin-2">
              <span class="name">{{ "ORDERS.VISITS" | translate }}: </span>
              <span class="bold">{{ item.package.visitNumber }} </span>
              <span class="bold">{{ "ORDERS.VISITS_UNIT" | translate }}</span>
            </div>
            <div class="margin-2">
              <span class="name">{{ "ORDERS.HOURS" | translate }}: </span>
              <span class="bold">{{ item.package.visitHours }} </span>
              <span class="bold">{{ "ORDERS.HOURS_UNIT" | translate }}</span>
            </div>
          </div> -->
        </div>
        <div class="details d-flex justify-content-between">
          <div class="text-gray-light">
            <span class="time">
              {{ formatDateTime(item.creationTime, "time") }}
              <span class="pi pi-clock"></span>
            </span>
            <span>
              {{ formatDateTime(item.creationTime, "date") }}
              <span class="pi pi-calendar"></span>
            </span>
          </div>
          <!-- <div class="pointer" (click)="onOrderDetails(item.orderId)">
            {{ "ORDERS.SHOW_DETAILS" | translate }}
            <span class="fz-12 pi pi-arrow-circle-left"></span>
          </div> -->
        </div>
      </div>
    </ng-container>
  </div>
  <ng-template #empty>
    <div class="text-center m-5">
      <span class="bold">{{ "ORDERS.NO_ORDERS" | translate }}</span>
    </div>
  </ng-template>
</div>
<app-pagination  [totalCount]="totalCount" (onPageChange)="onPageChange($event)"></app-pagination>
