<div class="container">
  <span class="title">{{ "الشروط والأحكام " }}</span>
  <p>
    {{
      "توضح هذه الشروط والأحكام العلاقة القانونية بينك وبين هذا الموقع الإلكتروني الذي تديره منصة مطلوب. الرجاء قراءة هذه الشروط بعناية قبل استخدام الموقع الإلكتروني الخاص بنا."
    }}
  </p>
  <p>
    {{
      "يُعد وصولك إلى خدماتنا واستخدامها بمثابة موافقة صريحة على هذه الشروط والأحكام، والتزامك الكامل بها. تنطبق هذه الشروط على جميع الزوار والمستخدمين وأي جهة تدخل إلى الموقع أو تطلب خدماتنا."
    }}
  </p>
  <p>
    {{
      'بدخولك إلى موقع مطلوب وطلبك للخدمات المعروضة، فإنك تقر وتوافق على الالتزام التام بهذه الشروط. إذا كنت لا توافق على أي بند من هذه الشروط، فلن يُسمح لك باستخدام خدمات "مطلوب"'
    }}
  </p>

  <div class="mt-3">
    <div class="d-flex justify-content-start">
      <img src="assets/img/folder-green.svg" width="50" alt="" />
      <span class="title">{{ "الشراء/المشتريات" }}</span>
    </div>
    <div class="d-flex justify-content-start">
      <div>
        <img src="assets/img/folder-gray.svg" width="30" alt="" />
      </div>
      <p>
        {{
          "عند رغبتك في شراء أي من الخدمات المتاحة عبر موقع مطلوب، قد يُطلب منك تقديم بعض المعلومات الضرورية لإتمام عملية الشراء، مثل (لكن لا يقتصر على): رقم بطاقة الدفع، تاريخ انتهاء الصلاحية، عنوان إرسال الفواتير، ومعلومات الشحن.
بإتمامك عملية الشراء، فإنك تُقر وتتعهد بما يلي:"
        }}
      </p>
    </div>
    <ul class="bold mt-2">
      <li>
        {{
          "أن لديك الحق القانوني الكامل لاستخدام بطاقة الدفع أو وسيلة الدفع المستخدمة"
        }}
      </li>
      <li>
        {{ "أن جميع المعلومات المقدمة من قبلك صحيحة، كاملة، ومحدّثة." }}
      </li>
      <li>
        {{
          "أنك توافق على منحنا الحق في مشاركة تلك المعلومات مع الجهات الخارجية الموثوقة فقط بهدف تسهيل وإتمام عملية الدفع.."
        }}
      </li>
    </ul>

    <div class="d-flex justify-content-start mb-2">
      <div>
        <img src="assets/img/folder-gray.svg" width="30" alt="" />
      </div>
      <p>
        {{
          "نحتفظ في منصة مطلوب بالحق في رفض أو إلغاء أي طلب في أي وقت ولأسباب متعددة تشمل - على سبيل المثال لا الحصر -: عدم توفر الخدمة، أو وجود خطأ في الطلب، أو أي ظروف استثنائية أخرى."
        }}
      </p>
    </div>
    <div class="d-flex justify-content-start mb-2">
      <div>
        <img src="assets/img/folder-gray.svg" width="30" alt="" />
      </div>
      <p>
        {{
          "نقبل المدفوعات الإلكترونية باستخدام بطاقات Visa وMastercard (الائتمانية والخصم المباشر)"
        }}
      </p>
    </div>
    <div class="d-flex justify-content-start mt-1">
      <div>
        <img src="assets/img/folder-gray.svg" width="30" alt="" />
      </div>
      <p>
        {{
          "في حال استحقاقك لاسترداد مبلغ مدفوع، فسيتم إرجاعه باستخدام نفس وسيلة الدفع الأصلية التي تم استخدامها في عملية الشراء"
        }}
      </p>
    </div>
  </div>
  <div class="mt-3">
    <div class="d-flex justify-content-start">
      <img src="assets/img/x-green.svg" width="50" alt="" />
      <span class="title">{{ "التوافر والأخطاء وعدم الدقة" }}</span>
    </div>
    <div class="d-flex justify-content-start">
      <div>
        <img src="assets/img/x-gray.svg" width="30" alt="" />
      </div>
      <p>
        {{
          "عمل في مطلوب باستمرار على تحديث خدماتنا وعروضنا لضمان تقديم أفضل تجربة ممكنة للمستخدم. ومع ذلك، قد تحدث بعض الأخطاء غير المقصودة في تسعير الخدمات، أو في أوصافها، أو في مدى توفرها. كما قد نواجه تأخيرًا في تحديث بعض المعلومات المعروضة على موقعنا أو على المنصات الإعلانية المرتبطة بنا.
لذلك، فإننا لا نضمن دقة أو اكتمال المعلومات المعروضة دائمًا، بما في ذلك: الأسعار، الصور، المواصفات، وتفاصيل التوافر."
        }}
      </p>
    </div>
  </div>
  <div class="mt-3">
    <div class="d-flex justify-content-start">
      <img src="assets/img/arrow-green.svg" width="50" alt="" />
      <span class="title">{{ "المنافسات والمراهنات والعروض" }}</span>
    </div>

    <div class="d-flex justify-content-start">
      <div>
        <img src="assets/img/arrow-gray.svg" width="30" alt="" />
      </div>
      <p>
        {{
          'قد نوفر من وقت لآخر عبر منصة مطلوب عروضًا ترويجية تشمل على سبيل المثال لا الحصر: المسابقات، السحوبات، أو التخفيضات الخاصة ("العروض الترويجية"). تخضع هذه العروض لشروط وأحكام خاصة إضافية تختلف عن الشروط العامة لموقعنا.
إذا قررت المشاركة في أي من هذه العروض، فإنك توافق على الالتزام بكافة القواعد الخاصة بالعروض الترويجية، بالإضافة إلى سياسة الخصوصية الخاصة بنا.
وفي حال وجود أي تعارض بين الشروط العامة وشروط العروض الترويجية، يتم تطبيق الشروط الخاصة بالعروض الترويجية.'
        }}
      </p>
    </div>
  </div>
  <div class="mt-3">
    <div class="d-flex justify-content-start">
      <img src="assets/img/user-green.svg" width="50" alt="" />
      <span class="title">{{ "الحسابات" }}</span>
    </div>
    <div class="d-flex justify-content-start">
      <div>
        <img src="assets/img/user-gray.svg" width="30" alt="" />
      </div>
      <p>
        {{
          "عند إنشاء حساب على منصة مطلوب، فإنك توافق على تزويدنا بمعلومات صحيحة وكاملة وحديثة في جميع الأوقات. عدم الالتزام بذلك يُعد خرقًا لهذه الشروط، وقد يؤدي إلى تعليق أو إنهاء حسابك بشكل فوري.
أنت مسؤول بشكل كامل عن الحفاظ على سرية كلمة المرور الخاصة بحسابك، وعن جميع الأنشطة التي تتم من خلاله، سواء على منصتنا أو من خلال أي طرف ثالث يرتبط بخدماتنا. كما أنك توافق على عدم مشاركة كلمة المرور مع أي جهة أخرى، وتتعهد بإبلاغنا فورًا بأي استخدام غير مصرح به أو خرق أمني لحسابك."
        }}
      </p>
    </div>
  </div>
  <div class="mt-3">
    <div class="d-flex justify-content-start">
      <img src="assets/img/lamo-green.svg" width="50" alt="" />
      <span class="title">{{ "الملكية الفكرية" }}</span>
    </div>
    <div class="d-flex justify-content-start">
      <div>
        <img src="assets/img/lamo-gray.svg" width="30" alt="" />
      </div>
      <p>
        {{
          "جميع الخدمات والمحتوى الأصلي والمميزات والوظائف المعروضة عبر منصة مطلوب هي وتبقى ملكية حصرية للمنصة و/أو الجهات المرخِّصة لها. تُحمى هذه الملكية بموجب قوانين حقوق النشر والعلامات التجارية المعمول بها في المملكة العربية السعودية وفي الدول الأخرى.
لا يُسمح باستخدام أي من العلامات التجارية أو السمات التجارية التابعة لـ مطلوب في الترويج لأي منتج أو خدمة دون الحصول على موافقة كتابية مسبقة من إدارة المنصة."
        }}
      </p>
    </div>
  </div>
  <div class="mt-3 mb-5">
    <div class="d-flex justify-content-start">
      <img src="assets/img/attach-green.svg" width="50" alt="" />
      <span class="title">{{ "روابط المواقع الإلكترونية الأخرى" }}</span>
    </div>
    <div class="d-flex justify-content-start">
      <div>
        <img src="assets/img/attach-gray.svg" width="30" alt="" />
      </div>
      <p>
        {{
          "لا تملك منصة مطلوب أي مواقع إلكترونية أخرى، ولا تتحمل أي مسؤولية عن المحتوى أو سياسات الخصوصية أو الممارسات التي تتبعها أي مواقع إلكترونية أو خدمات مقدمة من أطراف ثالثة.
أنت تقر وتوافق على أن منصة مطلوب غير مسؤولة بشكل مباشر أو غير مباشر عن أي ضرر أو خسارة ناتجة، أو يُزعم أنها ناتجة، عن استخدام أو الاعتماد على أي محتوى أو خدمات متوفرة عبر تلك المواقع أو الخدمات.
ننصحك بشدة بمراجعة الشروط والأحكام وسياسات الخصوصية لأي موقع إلكتروني تابع لطرف ثالث قبل التفاعل معه أو تقديم أي بيانات من خلاله."
        }}
      </p>
    </div>
  </div>
</div>
