<div class="signup-container">
    <div class="content">
        <div class="form-section">
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div class="details d-flex justify-content-between">
                    <div class="d-flex flex-col">
                        <h2 class="bold">{{ "signup.welcome" | translate }}</h2>
                        <p class="text-gray-light">{{ "signup.sub_welcome" | translate }}</p>
                    </div>

                    <div class="user-section">
                        <button type="button" class="lang-btn" (click)="toggleLanguage()">
                            {{ selectedLang.toUpperCase() == "AR" ? "EN" : "AR" }}
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">{{ "signup.first_name" | translate }}</label>
                        <input class="form-control" pInputText id="firstName" formControlName="firstName" />
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">{{ "signup.last_name" | translate }}</label>
                        <input class="form-control" pInputText id="lastName" formControlName="lastName" />
                    </div>
                </div>


                <!-- User Name -->
                <div class="d-flex flex-col gap-2">
                    <label for="userName">{{ "signup.username" | translate }}</label>
                    <input class="w-100" pInputText id="userName" formControlName="userName" />
                </div>

                <!-- Email -->
                <div class="d-flex flex-col gap-2">
                    <label for="email">{{ "signup.email" | translate }}</label>
                    <input class="w-100" pInputText id="email" formControlName="email" type="email" />
                </div>

                <!-- Mobile Number -->
                <div class="d-flex flex-col gap-2">
                    <label for="mobileNumber">{{ "signup.mobile" | translate }}</label>
                    <input class="w-100" pInputText id="mobileNumber" formControlName="mobileNumber" />
                </div>

                <!-- Password -->
                <div class="d-flex flex-col gap-2">
                    <label for="password">{{ "signup.password" | translate }}</label>
                    <p-password formControlName="password" [toggleMask]="true" [feedback]="false"></p-password>
                </div>

                <!-- Confirm Password -->
                <div class="d-flex flex-col gap-2">
                    <label for="confirmPassword">{{ "signup.confirm_password" | translate }}</label>
                    <p-password formControlName="confirmPassword" [toggleMask]="true" [feedback]="false"></p-password>
                    <div *ngIf="signupForm.errors?.['passwordMismatch'] && signupForm.get('confirmPassword')?.touched"
                        class="text-danger">
                        {{ 'signup.ERRORS.PASSWORD_MISMATCH' | translate }}
                    </div>
                </div>

                <!-- Gender -->
                <div class="d-flex flex-row gap-3">
                    <label>{{ "signup.gender" | translate }}</label>
                    <div>
                        <input type="radio" id="male" name="gender" [value]="1" formControlName="genderId" />
                        <label for="male">{{ "signup.male" | translate }}</label>
                    </div>
                    <div>
                        <input type="radio" id="female" name="gender" [value]="2" formControlName="genderId" />
                        <label for="female">{{ "signup.female" | translate }}</label>
                    </div>
                </div>

                <div class="button text-center mt-4">
                    <button class="btn btn-login w-100" type="submit" [disabled]="!signupForm.valid">
                        {{ "signup.submit" | translate }}
                    </button>
                    <a class="forget_password signup" routerLink="/auth/login">
                        {{ "لديك حساب بالفعل" | translate }}
                    </a>
                </div>
            </form>
        </div>

        <!-- <div class="details-section hide-part">
            <p-carousel [value]="carouselImages" [numVisible]="1" [numScroll]="1" [circular]="true"
                [autoplayInterval]="4000">
                <ng-template pTemplate="item" let-image>
                    <div class="carousel-item">
                        {{image}}
                        <img [src]="image" alt="carousel-image" style="width: 100%; border-radius: 8px;" />
                    </div>
                </ng-template>
            </p-carousel>
        </div> -->
        <div class="details-section hide-part">
            <!-- صورة أو تفاصيل إضافية -->
        </div>
    </div>
</div>


<app-otp-modal *ngIf="openOtpModal" [mobileNumber]="mobileNumber" (resendOtp)="resendOtp($event)"
    (otpValue)="getOtpValue($event)">
</app-otp-modal>