.title{
    font-weight: bolder;
    font-size: 36px;
    margin: 20px 10px;
    display: block;
}
p{
    font-size: 24px;
    margin: 0px 10px;
}
ul{
    font-size: 24px;
}
div{
    img[width="30"] {
        margin-top: 5px;
    }
}
