<div class="all-services-container container my-5">
    <div class="row g-4" *ngIf="services?.length">
        <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let service of services">
            <div class="card service-card" [ngStyle]="{ 'background-image': 'url(' + service.image + ')' }">
                <div class="overlay"></div>

                <div class="card-content">
                    <div class="title">
                        {{ selectedLang === 'ar' ? service.nameAr : service.nameEn }}
                    </div>

                    <div class="desc"
                        [innerHTML]="selectedLang === 'ar' ? service.descriptionAr : service.descriptionEn"></div>

                    <button class="action-btn" (click)="goContractList(service.serviceId)">
                        أطلب خدمة الان
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>