<app-background-image-with-text [options]="bkg_text_options"></app-background-image-with-text>

<div class="package-details-container container">
    <div class="content">
        <div class="row">
            <div class="packaeg-details-section col-lg-12" *ngIf="packageDetails">
                <div class="card-content">
                    <div class="content">
                        <div class="section-one">
                            <div class="details">
                                <div class="vat-section">
                                    <p>{{ 'PACKAGE_DETAILS.VAT_INCLUDED' | translate }}</p>
                                </div>
                                <div class="package-name">
                                    <p class="name">{{selectedLang == 'ar' ? packageDetails.nameAr : packageDetails.nameEn}}</p>
                                    <p class="type">({{selectedLang == 'ar' ? packageDetails.typeOfPackageNameAr : packageDetails.typeOfPackageName}})</p>
                                </div>
                            </div>
                            <div class="amount">
                                <p>{{packageDetails.price}} ريال</p>
                            </div>
                        </div>
                        <div class="section-three">
                            <p [innerHTML]="selectedLang == 'ar' ? packageDetails.descriptionAr : packageDetails.descriptionEn"></p>
                        </div>
                        <div class="section-two mt-4">
                            <div class="contents">
                                <img src="assets/images/icons-svg/profile.svg" alt="">
                                <div class="title">
                                    <p>{{ 'PACKAGE_DETAILS.TECHNICIANS_COUNT' | translate }}</p>
                                </div>
                                <div class="value">
                                    <p>(#### )</p>
                                </div>
                            </div>
                            <div class="contents">
                                <img src="assets/images/icons-svg/hash.svg" alt="">
                                <div class="title">
                                    <p>{{ 'PACKAGE_DETAILS.VISITS_COUNT' | translate }}</p>
                                </div>
                                <div class="value">
                                    <p>({{packageDetails.visitNumber}} {{ 'PACKAGE_DETAILS.VISITS_COUNT' | translate }})</p>
                                </div>
                            </div>
                            <div class="contents">
                                <img src="assets/images/icons-svg/clock.svg" alt="">
                                <div class="title">
                                    <p>{{ 'PACKAGE_DETAILS.VISIT_DURATION' | translate }}</p>
                                </div>
                                <div class="value">
                                    <p>({{packageDetails.visitHours}} {{ 'PACKAGE_DETAILS.VISIT_DURATION' | translate }})</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="order-section">
                    <div class="row">
                        <div class="title col-lg-12">
                            <p>{{ 'PACKAGE_DETAILS.REQUEST_DATA' | translate }}</p>
                        </div>

                        <div class="location-section mt-4 col-lg-12">
                            <label>{{ 'PACKAGE_DETAILS.LOCATION' | translate }}</label><span class="red-mark">*</span>
                            <div class="actions-section">
                                <p-select (onChange)="selectLocation($event)" [(ngModel)]="locationSelect" [options]="locations" optionLabel="name" [placeholder]="'PACKAGE_DETAILS.SELECT_LOCATION' | translate" class="w-100" optionValue="code"></p-select>
                                <div (click)="addLocation()" class="location-btn" pTooltip="{{ 'PACKAGE_DETAILS.ADD_LOCATION' | translate }}" tooltipPosition="top">
                                    <i class="pi pi-plus"></i>
                                </div>
                            </div>
                        </div>

                        <div class="date-picker-section col-lg-6">
                            <label>{{ 'PACKAGE_DETAILS.DATE' | translate }}</label><span class="red-mark">*</span>
                            <p-datepicker [ngClass]="{ 'input-error': isDateInvalid }" [(ngModel)]="dates" [placeholder]="'PACKAGE_DETAILS.SELECT_DATE' | translate" (onSelect)="validateMinDates()" selectionMode="multiple" [disabledDays]="[5, 6]" [minDate]="minDate" [maxDate]="maxDate" [readonlyInput]="true" />
                            <small *ngIf="errorMessage" class="error-message">
                                {{ errorMessage }}
                            </small>
                        </div>

                        <div class="time-picker-section col-lg-6">
                            <label>{{ 'PACKAGE_DETAILS.WORK_TIME' | translate }}</label><span class="red-mark">*</span>
                            <p-select [options]="workingHoursList" [(ngModel)]="workingHoursSelect" (onChange)="onWorkingHoursChange($event)" optionLabel="finalWorking" [placeholder]="'PACKAGE_DETAILS.SELECT_WORK_TIME' | translate" />
                        </div>

                        <div class="payment-way-section col-lg-12">
                            <label>{{ 'PACKAGE_DETAILS.PAYMENT_METHOD' | translate }}</label><span class="red-mark">*</span>
                            <p-select [options]="paymentList" [(ngModel)]="paymentSelect" (onChange)="onPaymentChange($event)" optionLabel="finalPayment" [placeholder]="'PACKAGE_DETAILS.SELECT_PAYMENT_METHOD' | translate" />
                        </div>

                        <div class="equepment-section col-lg-12">
                            <label>{{ 'PACKAGE_DETAILS.EQUIPMENT' | translate }}</label>
                            <p class="clarify">{{ 'PACKAGE_DETAILS.SELECT_EQUIPMENT' | translate }}</p>
                            <div class="equipments-container">
                                <div *ngFor="let equipment of equipments" class="equipment-card" [ngClass]="{ 'selected': equipment.status }" (click)="toggleStatus(equipment)">
                                    <p>{{ selectedLang === 'ar' ? equipment.arName : equipment.enName }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="media-section col-lg-12">
                            <label>{{ 'PACKAGE_DETAILS.MEDIA' | translate }}</label>
                            <div class="desc">
                                <p>{{ 'PACKAGE_DETAILS.MEDIA_HINT' | translate }}</p>
                            </div>
                            <div class="upload-dropzone mb-3 mt-4" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)" [class.dragging]="isDragging">
                                <img width="120" src="assets/images/icons-svg/vector.svg" alt="upload-files" />
                                <div class="action">
                                    <button class="btn-upload" type="button" (click)="fileInput.click()">
                                        {{ 'PACKAGE_DETAILS.UPLOAD' | translate }}
                                    </button>
                                    <p>{{ 'PACKAGE_DETAILS.OR_DROP' | translate }}</p>
                                </div>
                                <p class="image-details">{{ 'PACKAGE_DETAILS.MEDIA_NOTE' | translate }}</p>
                                <input type="file" multiple accept="image/*,video/*" hidden #fileInput (change)="onFileSelected($event)" />
                                <div *ngIf="orderObject.media?.length" class="mt-3">
                                    <div *ngFor="let file of orderObject.media; let i = index" class="d-flex align-items-center justify-content-between mb-2">
                                        <span class="text-success">
                                            {{ file.mediaTypeEnum === 1 ? '📷' : '🎥' }} {{ file.src | slice: 0:30 }}...
                                        </span>
                                        <button type="button" class="btn btn-sm btn-danger" (click)="removeMedia(i)">
                                            {{ 'PACKAGE_DETAILS.DELETE' | translate }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="note-section col-lg-12">
                            <label>{{ 'PACKAGE_DETAILS.ORDER_NOTE' | translate }}</label>
                            <textarea class="form-control mb-3 mt-3" [placeholder]="'PACKAGE_DETAILS.NOTE_PLACEHOLDER' | translate" name="notes" [(ngModel)]="orderObject.notes"></textarea>
                        </div>
                    </div>
                </div>

                <div class="instructions-section">
                    <label>{{ 'PACKAGE_DETAILS.MAIN_INSTRUCTIONS' | translate }}</label>
                    <p [innerHTML]="selectedLang == 'ar' ? packageDetails.arInstraction : packageDetails.enInstraction"></p>
                </div>

                <div class="submit-btn-section">
                    <button class="submit-btn-form" (click)="createOrder()">
                        {{ 'PACKAGE_DETAILS.SUBMIT' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<p-dialog header="{{ 'PACKAGE_DETAILS.ADD_LOCATION_MODAL_TITLE' | translate }}" [modal]="true" [(visible)]="showAddLocationDialog" [style]="{ width: '25rem' }">
    <app-add-location (value)="onAddLocation($event)"></app-add-location>
</p-dialog>
