::ng-deep {

    .home-content {
        background: white !important;
    }

    .package-details-container {

        .red-mark {
            color: red;
          }

          label {
            margin-bottom: 10px;
          }

        p {
            margin: 0;
            padding: 0;
        }

        .content {
            .card-content {
                margin-block: 30px;
                transition: transform 0.3s ease, box-shadow 0.3s ease; // Smooth animation
                border-radius: 32px;

                .content {
                    padding: 20px;
                    border-radius: 32px;
                    min-height: 299px;
                    border: 1px solid #E6E6E6;
                    background-color: white;

                    .section-one {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .details {
                            .vat-section {
                                p {
                                    font-size: 20px;
                                    font-weight: 500;
                                }
                            }

                            .package-name {
                                display: flex;
                                gap: 15px;
                                align-items: center;

                                .name {
                                    font-size: 24px;
                                    font-weight: 700;
                                }

                                .type {
                                    font-size: 16px;
                                    font-weight: 300;
                                    color: #B0B0B0;
                                }
                            }

                        }

                        .amount {
                            background-color: #E7F9FB;
                            border-radius: 32px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 6px 20px;

                            p {
                                color: #0eafba;
                                font-size: 24px;
                                font-weight: 700;
                            }
                        }
                    }

                    .section-two {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        flex-wrap: wrap;

                        .contents {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            padding: 6px 20px;
                            background-color: #FBFBFB;
                            height: 49px;
                            border-radius: 32px;

                            .title {
                                p {
                                    font-size: 16px;
                                    font-weight: 400;
                                    color: #B0B0B0;
                                }
                            }

                            .value {
                                p {
                                    font-size: 16px;
                                    font-weight: 500;
                                }
                            }
                        }
                    }

                    .section-three {
                        margin-block: 40px;

                        p {
                            font-size: 16px;
                            font-weight: 400;
                            color: #B4B4B4;
                        }
                    }

                }
            }



            .order-section {
                margin-bottom: 45px;
                padding: 20px;
                border-radius: 32px;
                min-height: 299px;
                border: 1px solid #E6E6E6;
                background-color: white;

                .title {
                    p {
                        font-size: 20px;
                        font-weight: 700;
                        margin-bottom: 20px;
                    }
                }

                .location-section {


                    .actions-section {
                        display: flex;
                        gap: 10px;
                        align-items: center;

                        p-select {
                            border-radius: 16px;
                            padding-block: 7px;
                        }

                        .location-btn {
                            border-radius: 16px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 19px;
                            cursor: pointer;
                            border: 1px solid #cbd5e1;

                            &:hover {
                                border-color: green;

                                i {
                                    color: green;
                                }
                            }


                        }
                    }


                }

                .date-picker-section {
                    margin-top: 30px;

                    p-datepicker {
                        span {
                            width: 100%;

                            input {
                                padding-block: 16px;
                            }
                        }
                    }
                }

                .time-picker-section {
                    margin-top: 30px;

                    p-select {
                        width: 100%;
                        border-radius: 16px;
                        padding-block: 7px;
                    }
                }

                .payment-way-section {
                    margin-top: 30px;

                    p-select {
                        width: 100%;
                        border-radius: 16px;
                        padding-block: 7px;
                    }
                }

                .equepment-section {
                    margin-top: 40px;

                    .clarify {
                        font-size: 14;
                        color: #B4B4B4;
                    }

                    .equipments-container {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;
                        margin-top: 15px;



                        .equipment-card {
                            padding: 10px 20px;
                            border-radius: 32px;
                            cursor: pointer;
                            background-color: #F0F4F5;
                            color: black;
                            transition: all 0.3s ease;
                            display: flex;
                            align-items: center;
                            gap: 5px;

                            i {
                                font-size: 12px;
                                color: black;
                            }

                            p {
                                color: black !important;
                            }

                            &.selected {
                                background-color: #0EC5D2;
                                color: white;
                                border-color: #0EC5D2;

                                p {
                                    color: white !important;
                                }
                            }
                        }
                    }
                }

                .media-section {
                    margin: 40px 0 0;


                    .desc {
                        p {
                            font-size: 15px;
                            font-weight: 500;
                            color: #B4B4B4;
                        }
                    }

                    .upload-dropzone {
                        border: 2px dashed #E6E6E6;
                        padding: 2rem;
                        text-align: center;
                        border-radius: 12px;
                        display: flex;
                        flex-direction: column;
                        transition: background-color 0.3s ease;
                        justify-content: center;
                        align-items: center;
                        gap: 8px;

                        &.dragging {
                            background-color: #e9f7fc;
                        }

                        .image-details {
                            font-size: 14px;
                            font-weight: 400;
                            color: #B0B0B0;
                        }

                        .action {
                            display: flex;
                            align-items: center;
                            gap: 3px;

                            p {
                                font-weight: 500;
                            }

                            .btn-upload {
                                background-color: white;
                                border: none;
                                color: #0EC5D2;
                                padding: 0;
                                margin: 0;
                            }
                        }
                    }
                }

                .note-section {
                    margin-top: 30px;

                    textarea {
                        height: 300px;
                        padding: 20px;
                    }
                }
            }


            .instructions-section {
                padding: 20px;
                border-radius: 32px;
                min-height: 200px;
                border: 1px solid #E6E6E6;
                background-color: white;

                p {
                    margin-top: 40px;
                    color: #B4B4B4;
                }
            }

            .submit-btn-section {
                margin-top: 20px;
                display: flex;
                justify-content: flex-end;

                .submit-btn-form {
                    background: linear-gradient(to right, #BFFD2B, #05BCE8);
                    color: #fff;
                    font-weight: bolder;
                    padding: 11px 80px;
                    border-radius: 32px;
                    margin: 30px 0px;
                    border: none;
                }
            }
        }
    }
}