.emergency-order-page-container {
    .content {
        .main-card {
            border-radius: 32px;
            border: 1px solid #E6E6E6;
            padding: 20px;
            min-height: 600px;
            margin-block: 30px;
        }
    }
}