<div class="login-container">
  <div class="content">
    <div class="form-section">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="details d-flex justify-content-between">
          <div class="d-flex flex-col">
            <h2 class="bold">
              {{ "login.welcome" | translate }}
            </h2>
            <p class="text-gray-light">
              {{ "login.welcome_message" | translate }}
            </p>
          </div>

          <div class="user-section">
            <button type="button" class="lang-btn" (click)="toggleLanguage()">
              {{ selectedLang.toUpperCase() == "AR" ? "EN" : "AR" }}
            </button>
          </div>
        </div>

        <div class="d-flex flex-col gap-2 mt-3">
          <label for="userName">{{ "signup.mobile" | translate }}</label>
          <div class="phone-input-container">
            <select 
              class="country-dropdown"
              formControlName="country"
              id="country"
            >
              <option value="SA">🇸🇦 +966</option>
              <option value="OM">🇴🇲 +968</option>
            </select>
            <input
              class="mobile-number-input"
              pInputText
              id="userName"
              placeholder="{{ getMobilePlaceholder() }}"
              formControlName="userName"
            />
          </div>
          <div
            *ngIf="
              loginForm.get('userName')?.touched ||
              loginForm.get('userName')?.dirty
            "
          >
            <div
              *ngIf="loginForm.get('userName')?.errors?.['required']"
              class="text-danger"
            >
              {{ "errors.required" | translate }}
            </div>
            <div
              *ngIf="loginForm.get('userName')?.errors?.['pattern']||loginForm.get('userName')?.errors?.['maxLength']||loginForm.get('userName')?.errors?.['minLength']"
              class="text-danger"
            >
              {{ getMobileErrorMessage() }}
            </div>
          </div>
        </div>
<!-- 
        <div class="d-flex flex-col gap-2">
          <label for="password">{{ "login.password" | translate }}</label>
          <p-password
            formControlName="password"
            [toggleMask]="true"
            [feedback]="false"
          ></p-password>
          <div
            *ngIf="
              loginForm.get('password')?.touched ||
              loginForm.get('password')?.dirty
            "
          >
            <div
              *ngIf="loginForm.get('password')?.errors?.['required']"
              class="text-danger"
            >
              {{ "errors.required" | translate }}
            </div>
          </div>
        </div> -->

        <div class="d-flex justify-content-between flex-wrap">
          <div class="d-flex justify-contnet-start remember-me ckeck-box">
            <p-checkbox class="remember-checkbox" [value]="'checked'" />
            <label class="fz-16" for="password">
              {{ "login.remember_me" | translate }}
            </label>
          </div>
          <!-- <div class="d-flex flex-col gap-2 w-250 m-1">
            <a class="forget_password" routerLink="/auth/forget_password">
              {{ "login.forget_password" | translate }}
            </a>
          </div> -->
        </div>

        <div class="button text-center mt-4">
          <button
            class="btn btn-login w-100"
            type="submit"
            [disabled]="!loginForm.valid"
          >
            {{ "login.submit" | translate }}
          </button>
          <button
            class="btn btn-guest w-100 mt-2"
            type="button"
            (click)="loginAsGuest()"
          >
            {{ "login.guest_login" | translate }}
          </button>
          <a class="forget_password signup" routerLink="/auth/signup">{{
            "login.signup" | translate
          }}</a>
        </div>
      </form>
    </div>
    <div class="details-section hide-part">
      <!-- صورة أو تفاصيل إضافية -->
    </div>
  </div>
</div>

<app-otp-modal
  *ngIf="openOtpModal"
  [mobileNumber]="mobileNumber"
  (resendOtp)="resendOtp($event)"
  (otpValue)="getOtpValue($event)"
>
</app-otp-modal>
