<nav class="navbar navbar-expand-lg bg-white navbar-light fixed-top">
  <a class="navbar-brand" [routerLink]="['/home']">
    <img src="assets/img/matlop_logo.svg" alt="matloop-logo" class="logo-image" />
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"
    aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav w-100 d-flex justify-content-between fz-16">
      <ul></ul>
      <ul class="main-list navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/home']">
            {{ 'NAVBAR.HOME' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/about-us']">
            {{ 'NAVBAR.ABOUT_US' | translate }}
          </a>
        </li>
           <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/addresses']">
           {{ 'NAVBAR.MY_ADDRESSES' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/contact-us']">
            {{ 'NAVBAR.CONTACT_US' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/services-list']">
            {{ 'NAVBAR.SERVICES' | translate }}
          </a>
        </li>
        <li class="nav-item" *ngIf="localStorage">
          <a class="nav-link" [routerLinkActive]="'active'" [routerLink]="['/orders']">
            {{ 'NAVBAR.ORDERS' | translate }}
          </a>
        </li>

      </ul>
      <ul class="list-lang-profile navbar-nav padding-20 pointer" *ngIf="user(); else noUser">
        <li class="d-flex">
          <div class="action-section-login margin-20">
            <div class="profile-dropdown-container" (click)="toggleDropdown()">
              <img [src]="getProfileImage()" width="35px" height="30px" class="rounded-img profile-trigger" alt="Profile" />
              
              <!-- Dropdown Menu -->
              <div class="profile-dropdown-menu" [class.show]="isDropdownOpen" (click)="$event.stopPropagation()">
                <div class="dropdown-arrow"></div>
                
                <!-- Profile Option -->
                <div class="dropdown-item" (click)="navigateToProfile()">
                  <i class="pi pi-user"></i>
                  <span>{{ 'NAVBAR.PROFILE' | translate }}</span>
                </div>
                
                <!-- Addresses Option -->
                <!-- <div class="dropdown-item" (click)="navigateToAddresses()">
                  <i class="pi pi-map-marker"></i>
                  <span>{{ 'NAVBAR.MY_ADDRESSES' | translate }}</span>
                </div> -->
                
                <!-- Language Toggle -->
                <div class="dropdown-item" (click)="toggleLanguage()">
                  <i class="pi pi-globe"></i>
                  <div class="language-toggle">
                    <span *ngIf="selectedLang == 'ar'">{{ "english" | translate }}</span>
                    <span *ngIf="selectedLang == 'en'">{{ "arabic" | translate }}</span>
                    <img *ngIf="selectedLang == 'en'" src="assets/img/arab_lang.png" alt="" height="16" />
                    <img *ngIf="selectedLang == 'ar'" src="assets/img/english_lang.png" alt="" height="16" />
                  </div>
                </div>
                
                <!-- Logout Option -->
                <div class="dropdown-item logout-item" (click)="logout()">
                  <i class="pi pi-sign-out"></i>
                  <span>{{ 'NAVBAR.LOGOUT' | translate }}</span>
                </div>
              </div>
            </div>
            <span class="margin-10 notification">
              <app-notification></app-notification>
            </span>

            <!-- Profile Dropdown -->
          </div>
        </li>
      </ul>

      <ng-template #noUser>
        <div class="auth-section">
          <div class="signup-btn">
            <button class="main-btn-one" routerLink="auth/signup">
              {{ "NAVBAR.SIGNUP" | translate }}
            </button>


          </div>
          <div class="login-btn">
            <button class="main-btn-one" routerLink="auth/login">
              {{ "NAVBAR.LOGIN" | translate }}
            </button>
          </div>
        </div>
      </ng-template>
    </ul>
  </div>
</nav>