<div class="page">
  <div>
    <p class="bold">{{ 'cancel_order.title' | translate }}</p>
    <p class="text-gray">{{ 'cancel_order.subtitle' | translate }}</p>
  </div>
  <div class="mt-3">
    <p-select class="w-full md:w-56" [options]="cancelReasonsList" [(ngModel)]="selectedReasonId" optionLabel="label"
      placeholder="{{ 'cancel_order.reason_placeholder' | translate }}"></p-select>
  </div>
  <div>
    <textarea class="p-3 mt-3" rows="5" cols="30" pTextarea
      placeholder="{{ 'cancel_order.textarea_placeholder' | translate }}"
      [(ngModel)]="orderCancelationNotes"></textarea>
  </div>
  <div>
    <button class="btn mt-3" [disabled]="orderCancelationNotes == '' || !selectedReasonId" (click)="onConfirm()">
      {{ 'cancel_order.confirm_btn' | translate }}
    </button>
  </div>
</div>
