<div class="description-section-container">
    <div class="content container">
        <div class="row">
            <div class="cards col-lg-4 col-md-4 col-sm-12">
                <div class="card-content">
                    <div class="image-section">
                        <img src="assets/images/icons-svg/one.svg" alt="" />
                    </div>
                    <div class="title">
                        <p>{{ 'DESCRIPTION.CARD_1.TITLE' | translate }}</p>
                    </div>
                    <div class="desc">
                        <p>{{ 'DESCRIPTION.CARD_1.DESCRIPTION' | translate }}</p>
                    </div>
                </div>
            </div>

            <div class="cards col-lg-4 col-md-4 col-sm-12">
                <div class="card-content">
                    <div class="image-section">
                        <img src="assets/images/icons-svg/two.svg" alt="" />
                    </div>
                    <div class="title">
                        <p>{{ 'DESCRIPTION.CARD_2.TITLE' | translate }}</p>
                    </div>
                    <div class="desc">
                        <p>{{ 'DESCRIPTION.CARD_2.DESCRIPTION' | translate }}</p>
                    </div>
                </div>
            </div>

            <div class="cards col-lg-4 col-md-4 col-sm-12">
                <div class="card-content">
                    <div class="image-section">
                        <img src="assets/images/icons-svg/three.svg" alt="" />
                    </div>
                    <div class="title">
                        <p>{{ 'DESCRIPTION.CARD_3.TITLE' | translate }}</p>
                    </div>
                    <div class="desc">
                        <p>{{ 'DESCRIPTION.CARD_3.DESCRIPTION' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>