<div class="description-section-container ">
    <div class="content container">
        <div class="row">
            <div class="cards col-lg-4 col-md-4 col-sm-12">
                <div class="card-content">
                    <div class="image-section">
                        <img src="assets/images/icons-svg/one.svg" alt="">
                    </div>
                    <div class="title">
                        <p>خدمة سريعة وآمنة</p>
                    </div>
                    <div class="desc">
                        <p>نضمن لك تنفيذ الخدمة بسرعة وبأعلى معايير الأمان، باستخدام أحدث التقنيات وإجراءات دقيقة لضمان سلامتك وراحتك</p>
                    </div>
                </div>
            </div>
            <div class="cards col-lg-4 col-md-4 col-sm-12">
                <div class="card-content">
                    <div class="image-section">
                        <img src="assets/images/icons-svg/two.svg" alt="">
                    </div>
                    <div class="title">
                        <p>فنيون محترفون ومعتمدون</p>
                    </div>
                    <div class="desc">
                        <p>فريقنا يتكون من فنيين ذوي خبرة عالية ومعتمدين، يقدمون لك خدمات احترافية وفقًا لأعلى المعايير لضمان جودة الأداء </p>
                    </div>
                </div>
            </div>
            <div class="cards col-lg-4 col-md-4 col-sm-12">
                <div class="card-content">
                    <div class="image-section">
                        <img src="assets/images/icons-svg/three.svg" alt="">
                    </div>
                    <div class="title">
                        <p>أسعار تنافسية وشفافة</p>
                    </div>
                    <div class="desc">
                        <p>نقدم لك أسعارًا عادلة ومنافسة دون مفاجآت، مع كامل الشفافية في كل تفاصيل الفاتورة لضمان تجربتك الموثوقة</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>