<div class="slider-section-container">
    <div class="overlay">
        <div class="text-content">
            <p class="mini-title">مطلوب</p>
            <h1>كل خدمات الصيانة بين يديك</h1>
            <p>من السباكة والكهرباء إلى التكييف والنجارة، نوفر لك حلولاً متكاملة باحترافية عالية وسرعة تنفيذ تليق بك</p>

        </div>

        <div class="">
            <button class="order-btn">أطلب خدمة الان</button>

        </div>
        <div class="app-section">
            <p>حمل التطبيق الآن</p>
            <div class="applecations">
                <img src="assets/images/global/apple.svg" alt="app-store">
                <img src="assets/images/global/google.svg" alt="play-store">
            </div>
        </div>

    </div>
</div>