<div class="slider-section-container">
    <div class="overlay">
      <div class="text-content">
        <p class="mini-title">{{ 'SLIDER.TITLE' | translate }}</p>
        <h1>{{ 'SLIDER.HEADING' | translate }}</h1>
        <p>{{ 'SLIDER.DESCRIPTION' | translate }}</p>
      </div>
  
      <div>
        <button class="order-btn" (click)="onClickOrder()" >{{ 'SLIDER.ORDER_NOW' | translate }}</button>
      </div>
  
      <div class="app-section">
        <p>{{ 'SLIDER.DOWNLOAD_APP' | translate }}</p>
        <div class="applecations">
          <img class="pointer" (click)="onClickDownload('apple')" src="assets/images/global/apple.svg" alt="app-store" />
          <img class="pointer" (click)="onClickDownload('google')" src="assets/images/global/google.svg" alt="play-store" />
        </div>
      </div>
    </div>
  </div>
  