
.card{
      box-shadow: 0 4px 8px 0 #091e420a;
      padding: 20px;
      border: unset;
      margin-top: 20px;
}
.some-work-images{
    img{
        margin:10px;
    }
}
.form-contact-us{
    border-radius: 32px;
    background-color: #FBFBFB;
    margin-bottom: -90px;
    position: relative;
    z-index: 999;
.btn-contact-us{
     background-color: #0EC5D2;
    color: #fff;
    border-radius:16px ;
    padding: 10px 20px;
}
.text-area{
    min-width: 300px;
    max-width: 95%;
}
}

.bk-img{
   background: url("/assets/img/clean-window.svg") no-repeat center center;
   background-size: cover;
}
.our-vision{
.card{
       width: 98%;

}   
}
.galleria-container{
    display: none!important;   
    margin-top: 20px;
}

@media screen and (max-width: 1400px) {
   .some-work-images{
    display: none;
   }
   .galleria-container  {
    display: block!important;
   }
    
}