<app-background-image-with-text [options]="bkg_text_options"></app-background-image-with-text>

<div class="container mt-5">
  <p class="bold fz-40 text-main-black">{{ 'ABOUT_US_CONTACT.START_JOURNEY' | translate }}</p>
  <p class="text-gray-light fz-20">{{ 'ABOUT_US_CONTACT.INTRO' | translate }}</p>

  <div class="mt-3 d-flex justify-content-start flex-wrap">
    <div class="min-width-300 our-vision w-45 flex-grow-1">
      <div class="card">
        <img src="assets/img/icon-star.svg" width="50" alt="" />
        <div class="mt-3">
          <span class="bold block fz-28">{{ 'ABOUT_US_CONTACT.VISION_TITLE' | translate }}</span>
          <p class="mt-2 fz-20 text-black">{{ 'ABOUT_US_CONTACT.VISION_DESC' | translate }}</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/img/icon-lamp.svg" width="50" alt="" />
        <div class="mt-3">
          <span class="bold block fz-28">{{ 'ABOUT_US_CONTACT.MISSION_TITLE' | translate }}</span>
          <p class="mt-2 fz-20 text-black">{{ 'ABOUT_US_CONTACT.MISSION_DESC' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="bk-img w-48 mt-2 flex-grow-1 border-32"></div>
  </div>

  <div class="mt-5 d-flex justify-content-between flex-wrap flex-row-reverse">
    <div class="w-50 flex-grow-1 min-width-300">
      <span class="bold block fz-40 text-main-black">{{ 'ABOUT_US_CONTACT.CORE_VALUES_TITLE' | translate }}</span>
      <p class="text-gray-light fz-20 mt-5">{{ 'ABOUT_US_CONTACT.CORE_VALUES_DESC' | translate }}</p>
      <div class="mt-2">
        <div class="d-flex justify-contnet-start">
          <img src="assets/img/correct-bk.svg" width="30" alt="" />
          <p class="bold p-3 fz-24">{{ 'ABOUT_US_CONTACT.QUALITY' | translate }}</p>
        </div>
        <div class="d-flex justify-contnet-start mt-4">
          <img src="assets/img/correct-bk.svg" width="30" alt="" />
          <p class="bold p-3 fz-24">{{ 'ABOUT_US_CONTACT.COMMITMENT' | translate }}</p>
        </div>
        <div class="d-flex justify-contnet-start mt-4">
          <img src="assets/img/correct-bk.svg" width="30" alt="" />
          <p class="bold p-3 fz-24">{{ 'ABOUT_US_CONTACT.TRANSPARENCY' | translate }}</p>
        </div>
        <div class="d-flex justify-contnet-start mt-4">
          <img src="assets/img/correct-bk.svg" width="30" alt="" />
          <p class="bold p-3 fz-24">{{ 'ABOUT_US_CONTACT.TRUST' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="flex-grow-1">
      <img class="border-32" src="assets/img/our-qim.svg" alt="" />
    </div>
  </div>

  <div class="mt-5">
    <div class="text-center">
      <span class="block bold fz-14">{{ 'ABOUT_US_CONTACT.WORKS_TITLE' | translate }}</span>
      <p class="bold fz-40">{{ 'ABOUT_US_CONTACT.WORKS_HEADER' | translate }}</p>
      <p class="text-gray-light fz-20">{{ 'ABOUT_US_CONTACT.WORKS_DESC' | translate }}</p>
    </div>
    <div class="mt-3 some-work-images">
      <div>
        <img src="assets/img/some-work-4.svg" alt="" />
        <img src="assets/img/some-work-3.svg" alt="" />
      </div>
      <div>
        <img src="assets/img/some-work-2.svg" alt="" />
        <img src="assets/img/some-work-1.svg" alt="" />
      </div>
    </div>

    <div class="w-100 galleria-container">
      <p-galleria class="galleria" [value]="someWorksImages" [numVisible]="5" [circular]="true" [showItemNavigators]="true" [showThumbnails]="false">
        <ng-template pTemplate="item" let-item>
          <img [src]="item.itemImageSrc" style="width: 100%;" />
        </ng-template>
      </p-galleria>
    </div>
  </div>

  <div class="mt-1 form-contact-us p-4">
    <div>
      <span class="block bold fz-14">{{ 'ABOUT_US_CONTACT.CONTACT_US' | translate }}</span>
      <p class="bold fz-40">{{ 'ABOUT_US_CONTACT.CONTACT_HEADER' | translate }}</p>
      <p class="text-gray-light fz-20">
        {{ 'ABOUT_US_CONTACT.CONTACT_DESC_1' | translate }}
        {{ 'ABOUT_US_CONTACT.CONTACT_DESC_2' | translate }}
      </p>
    </div>
    <form [formGroup]="form" class="form mt-5">
      <div class="d-flex justify-contnet-start flex-wrap">
        <div class="w-50 flex-grow-1">
          <input class="block w-95 mb-2" type="text" [placeholder]="'ABOUT_US_CONTACT.FORM.NAME' | translate" pInputText [formControlName]="'name'" />
          <input class="block w-95 mb-2" type="text" [placeholder]="'ABOUT_US_CONTACT.FORM.EMAIL' | translate" pInputText [formControlName]="'email'" />
          <input class="block w-95 mb-2" type="text" [placeholder]="'ABOUT_US_CONTACT.FORM.MOBILE' | translate" pInputText [formControlName]="'mobile'" />
        </div>
        <div class="w-50 text-area flex-grow-1">
          <textarea rows="5" [placeholder]="'ABOUT_US_CONTACT.FORM.MESSAGE' | translate" pTextarea [formControlName]="'message'"></textarea>
        </div>
      </div>
      <div class="button text-start p-2 mt-3">
        <button class="btn btn-contact-us" (click)="onContactUs()" [disabled]="!form.valid">
          {{ 'ABOUT_US_CONTACT.CONTACT_US' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
