<div class="container">
    <div class="how-we-are">
        <div class="d-flex justify-content-between flex-wrap flex-row-reverse">
           
            <div class="images flex-grow-1">
                <img class="img-1" src="assets/img/how-are-we.svg" alt="">
            </div>
            <div class="w-500 flex-grow-1">
                <span class="hint">من نحن</span>
            <p class="header">
                  خبرة تضع راحتك اولا
            </p>
            <p class="desc">
                هدفنا هو تبسيط تجربة العملاء، من خلال ربطهم بفنيين موثوقين في مختلف التخصصات مثل: السباكة، التكييف، الدهانات، النظافة، والكثير غيرها – كل ده بخطوات سهلة وسريعة.في كل طلب، نحرص على تقديم تجربة مريحة، آمنة، وشفافة، من أول نقرة وحتى انتهاء الخدمة. نؤمن أن راحتك تبدأ بخدمة محترفة
            </p>
            <div class="mt-3 w-50">
                <button class="btn btn-default"> اعرف المزيد</button>
            
            </div>
            </div>
        </div>
        
    </div>
  
</div>