<div class="container">
    <div class="how-we-are">
        <div class="d-flex justify-content-between flex-wrap flex-row-reverse">

            <div class="images flex-grow-1">
                <img class="img-1" src="assets/img/how-are-we.svg" alt="about-us-image" />
            </div>

            <div class="w-500 flex-grow-1">
                <span class="hint">{{ 'ABOUT_US.HINT' | translate }}</span>

                <p class="header">
                    {{ 'ABOUT_US.HEADER' | translate }}
                </p>

                <p class="desc">
                    {{ 'ABOUT_US.DESCRIPTION' | translate }}
                </p>

                <div class="mt-3 w-50">
                    <button class="btn btn-default">
                        {{ 'ABOUT_US.BUTTON' | translate }}
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>