<div class="footer-container">
  <div class="container">
    <div class="content">
      <div class="details">
        <div class="section-one">
          <p>{{ 'FOOTER.DESCRIPTION' | translate }}</p>
        </div>
        <div class="section-two">
          <div class="header">
            <p>{{ 'FOOTER.QUICK_LINKS' | translate }}</p>
          </div>
          <div class="services">
            <a class="block" routerLink="/services-list">{{ 'FOOTER.LINKS.SERVICES' | translate }}</a>
            <a class="block" routerLink="/orders">{{ 'FOOTER.LINKS.ORDERS' | translate }}</a>
            <a class="block" routerLink="/about-us">{{ 'FOOTER.LINKS.ABOUT' | translate }}</a>
            <a class="block" routerLink="/privacy-policy">{{ 'FOOTER.LINKS.PRIVACY_POLICY' | translate }}</a>
            <a class="block" routerLink="/terms-conditions">{{ 'FOOTER.TERMS' | translate }}</a>
          </div>
        </div>
        <div class="section-three">
          <div class="header">
            <p>{{ 'FOOTER.SERVICES_TITLE' | translate }}</p>
          </div>
          <div class="services">
            <span class="block">{{ 'FOOTER.SERVICES.PLUMBING' | translate }}</span>
            <span class="block">{{ 'FOOTER.SERVICES.AC' | translate }}</span>
            <span class="block">{{ 'FOOTER.SERVICES.PAINTING' | translate }}</span>
            <span class="block">{{ 'FOOTER.SERVICES.ELECTRICITY' | translate }}</span>
            <span class="block">{{ 'FOOTER.SERVICES.CLEANING_FEMALE' | translate }}</span>
            <span class="block">{{ 'FOOTER.SERVICES.CLEANING_MALE' | translate }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="copyright">
  <div class="container d-flex justify-content-between flex-wrap">
    <div class="d-flex justify-content-between">
      <p class="m-2 white-text">{{ 'FOOTER.FOLLOW_US' | translate }}</p>
      <div class="social-media" *ngIf="socailMedia.length > 0">
        <ng-container *ngFor="let item of socailMedia">
          <div class="social-item" (click)="onClickSocial(item.routing)">
            <img [src]="'assets/images/icons-svg/'+item.icon" alt="">
          </div>
        </ng-container>
      </div>
    </div>
    <div class="copy-right">
      <p class="m-2 white-text">{{ 'FOOTER.COPYRIGHT' | translate }}</p>
    </div>
  </div>
</div>
