.footer-container {
    background: linear-gradient(to right, #97CA24, #0597B6);
    padding-top: 50px;

    .content {
        .details {
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
            padding: 0 20px 38px;
            ;

            .section-one {
                width: 38rem;

                p {
                    font-size: 20px;
                    color: white;
                    margin-top: 100px;
                }
            }

            .section-two,
            .section-three {
                display: flex;
                flex-direction: column;
                gap: 10px;
                color: white;

                .header {
                    margin-top: 50px;

                    p {
                        font-size: 20px;
                        font-weight: 900;
                    }
                }
            }
        }
    }

}

.copyright {
    background: linear-gradient(to right, #BFFD2B, #40AEC2);
    padding: 10px 0px;

    .social-media {
        display: flex;
        align-items: center;
        gap: 10px;

        .social-item {
            cursor: pointer;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #FFFFFF;

            i {
                font-size: 20px;
                color: #B6AEC8;
                background: linear-gradient(to right, #BFFD2B, #05BCE8);
                -webkit-text-fill-color: transparent;
            }

            &:hover {
                background-color: #B6AEC8;

                i {
                    color: #FFFFFF;
                }
            }
        }
    }

}


a {
    text-decoration: none;
    color: white;
    &:hover {
        color: rgb(15, 15, 122);
    }
}