<div class="container">
    <div class="order-page mt-5 p-4">
        <div class="d-flex justify-content-between flex-wrap flex-row-reverse">
            <div class="flex-grow-1">
                <img [class.reverse_img]="selectedLang=='en'" class="w-100" src="assets/img/order-now.svg" alt="">
               </div>
            <div class="order flex-grow-1 w-30">
                <div>
                    <p class="header">أطلب خدمتك الان ...</p>
                    <p  class="info">خلي راحتك تبدأ في اقل من دقيقة</p>
        
                </div>
        
                <button class="btn btn-default">اطلب خدمة الان</button>
            </div>

        </div>
       
    
    </div>
</div>
