.bread-crump {
  margin: 20px 0px;
}
.card {
  padding: 20px;
  border-radius: 32px;
  border: 1px solid #e6e6e6;
  background-color: #fcfcfc;

  .numbers-info {
    span.name {
      margin: 0px 5px;
    }
  }
  .squar {
    margin: 0px 5px;
  }
}
.btn-add-order {
  background-color: #0ec5d2;
  color: #fff;
  padding: 10px 30px;
  border-radius: 32px;
}

.buttons {
  margin: 20px 0px;
  .pay {
    background: linear-gradient(to right, #bffd2b, #40aec2);
    color: #fff;
    border-radius: 32px;
    padding: 10px 30px;
    margin: 0px 10px;
    width: 25%;
  }
  .cancel {
    background-color: #fff;
    color: #cd0707;
    border-radius: 32px;
    border: 1px solid #cd0707;
    padding: 10px 30px;
    width: 25%;
  }
}

.btn-additional-item,
.btn-additional-item-cancel {
  background: linear-gradient(to right, #33c0a8, #20d4ad);
  color: #fff;
  border-radius: 32px;
  width: 100%;
  padding: 10px;
}
.btn-additional-item-cancel{
  background: linear-gradient(to right, #c03333, #d42020);
}
.visit {
  margin: 0px 20px;
  .bkg-1,
  .bkg-2,
  .bkg-3 {
    padding: 15px;
    border-radius: 32px;
    margin-top: 10px;
  }
  .bkg-1 {
    background-color: #f4f4f4;
  }
  .bkg-2 {
    background-color: #e7f9fb;
  }
  .bkg-3 {
    border: 3px solid #f4f4f4;
  }
}

.bk-white {
  background-color: #fff;
  border-radius: 32px;
  padding: 5px 15px;
}

.bk-blue-light {
  background-color: #e7f9fb;
}
.text-blue-light {
  color: #0ec5d2;
}
.bk-green-light {
  background-color: #e8ffd2;
}
.text-green-light {
  color: #46b800;
}
.border-rd-32 {
  border-radius: 32px;
  padding: 5px 30px;
}
.fz-20 {
  font-size: 20px;
}
.past-date-visit{
  background-color: #f4f4f4;
  color: #b3b3b3;
   padding: 15px;
    border-radius: 32px;
    margin-top: 10px;
}
.current-date-visit{
  background-color: #d67f7f;
  color: #b1200a;
   padding: 15px;
    border-radius: 32px;
    margin-top: 10px;
}
.future-date-visit{
  background-color: #e8ffd2;
  color: #46b800;
   padding: 15px;
    border-radius: 32px;
    margin-top: 10px;
}


