<div class="container">
  <div class="bread-crump">
    <span class="text-gray-light pointer"(click)="goToOrders()">{{ "الطلبات" }}</span
    >/
    <span class="bold">{{ "تفاصيل الطلب" }}</span>
  </div>

  <div
    *ngIf="orderDetails"
    class="order-details d-flex justify-content-between flex-wrap"
  >
    <div class="details-info flex-grow-1">
      <div class="card pkg-details">
        <div class="d-flex justify-content-between">
          <span class="bold">{{ "تفاصيل الباقة" }}</span>
          <span class="bk-blue-light border-rd-32">
            <span class="bold text-blue-light">{{
              orderDetails.totalWithAdditional
            }}</span>
            <span class="text-blue-light"> {{ "ريال" }} </span>
          </span>
        </div>
        <div>
          <span class="block text-gray-light"> #{{ "اسم الباقة" }}</span>
          <span class="block bold"> {{ orderDetails?.package?.nameAr }}</span>
        </div>
        <div class="desc text-gray-light" [innerHTML]="orderDetails?.package?.descriptionAr ">
         
        </div>
        <div class="numbers-info mt-3 d-flex justify-content-between flex-wrap">
          <div class="bk-white">
            <span class="pi pi-clock"></span>
            <span class="name text-gray-light">{{ "مدة الزيارة" }}</span>
            <span class="bold"
              >({{ orderDetails?.package?.visitHours }}) {{ "ساعات" }}</span
            >
          </div>
          <div class="bk-white">
            <span class="pi pi-user"></span>
            <span class="name text-gray-light">{{ "عدد الفنيين" }}</span>
            <span class="bold"
              >({{ orderDetails?.package?.providerNumber }}) {{ "فني" }}</span
            >
          </div>
          <div class="bk-white">
            <span class="pi pi-hashtag"></span>

            <span class="name text-gray-light">{{ "عدد الزيارات" }}</span>
            <span class="bold"
              >({{ orderDetails?.package?.visitNumber }}) {{ "زيارات" }}</span
            >
          </div>
        </div>
      </div>
      <div class="card info mt-3 bold">
        <div class="d-flex justify-content-between">
          <span class="bold fz-20">{{ "معلومات الطلب" }}</span>
          <span class="text-gray-light">{{ "# شامل الضريبة" }}</span>
        </div>
        <div class="d-flex justify-content-between mt-3">
          <span class="bold">{{ "تاريخ الطلب" }}</span>
          <span>{{ orderDetails.creationTime | date : "dd MMM yyyy" }}</span>
        </div>
        <div class="d-flex justify-content-between mt-3">
          <span class="bold">{{ "وقت الطلب" }}</span>
          <span>{{ orderDetails.creationTime | date : "HH:mm" }}</span>
        </div>
        <div class="d-flex justify-content-between mt-3">
          <span class="bold">{{ "حالة الطلب" }}</span>
          <span [class]="orderDetails.orderStatusName" class="border-rd-32">{{
            orderDetails.orderStatusName
          }}</span>
        </div>
        <div class="d-flex justify-content-between mt-3">
          <span class="bold">{{ "طريقة الدفع" }}</span>
          <span class="bk-green-light text-green-light border-rd-32">{{
            "كاش"
          }}</span>
        </div>
      </div>
      <div class="card mt-3 added_order">
        <div class="d-flex justify-content-between">
          <span class="bold">{{ "الطلبات الاضافية" }}</span>
          <span class="btn-add-order pointer"(click)="onAdditionalOrder()">{{ "اضافة طلب صيانة اضافي" }}</span>
        </div>
        <ng-container
          *ngIf="orderDetails.orderAddtionalItem.length; else empty"
        >
          <div *ngFor="let item of orderDetails.orderAddtionalItem">
            <div class="d-flex justify-content-start">
              <img class="squar" src="assets/img/squar.svg" alt="" />
              <span class="bold">{{item.note}} </span>
            </div>
          </div>
        </ng-container>
        <ng-template #empty>
          <div class="">
            {{ "لا توجد طلبات اضافية" }}
          </div>
        </ng-template>

        <div
          *ngIf="orderDetails.orderAddtionalItem.length > 0"
          class="total text-start mt-4"
        >
          <span>{{ "اجمالي" }}</span>
          <span class="bold"> {{orderDetails.totalWithAdditional - orderDetails.orderTotal}}</span>
          <span> {{ "ر.س" }}</span>
        </div>
      </div>
      <div
        *ngIf="orderDetails.orderStatusName == 'Pending'"
        class="buttons text-start"
      >
        <button class="btn pay">{{ "اعادة الدفع" }}</button>
        <button class="btn cancel" (click)="onCancelOrder()">
          {{ "الغاء الطلب" }}
        </button>
      </div>
    </div>
    <div class="card w-30 visit flex-grow-1">
      <div class="d-flex justify-content-between mb-3">
        <span class="bold">{{ "مواعيد الزيارة" }}</span>
        <img src="assets/img/edit.svg" alt="" />
      </div>
      <div class="d-flex justify-content-between bkg-1">
        <span>{{ orderDetails.nextVistDate | date : "dd MMM yyyy" }}</span>
        <span>{{ orderDetails.nextVistDate | date : "HH:mm a" }}</span>
      </div>
      <!-- <div class="d-flex justify-content-between bkg-2">
        <span>{{ "20 نوفمبر 2025" }}</span>
        <span>{{ "08:00" }} {{ "م" }}</span>
      </div> -->
      <!-- <div class="d-flex justify-content-between bkg-3">
        <span>{{ "20 نوفمبر 2025" }}</span>
        <span>{{ "08:00" }} {{ "م" }}</span>
      </div> -->
      <div class="bold mt-3">{{ "المعدات" }}</div>
      <div class="d-flex justify-content-start flex-wrap mt-2">
        <ng-container *ngFor="let item of orderDetails.orderEquipmentResponse">
          <div class="bold m-2">{{ item.arName }}</div>
        </ng-container>
      </div>

      <div *ngIf="orderDetails.orderEquipmentResponse.length == 0">
        {{ "لا توجد معدات" }}
      </div>
      <div class="mt-5 bold">
        {{ "صور الطلب" }}
      </div>
      <div class="d-flex justify-content-start flex-wrap mt-3">
        <ng-container *ngFor="let item of orderDetails.media">
          <div class="images d-flex justify-content-between flex-wrap m-3">
            <img
              class="mt-2 rounded"
              [src]="baseUrl + item.src"
              width="100"
              height="100"
              alt=""
            />
          </div>
        </ng-container>
      </div>

      <div *ngIf="orderDetails.media.length == 0">
        {{ "لا توجد صور" }}
      </div>

      <div class="">
        <div class="bold mt-5">{{ "التعليمات الرئيسية" }}</div>
        <div class="d-flex justify-content-start mt-3">
          <img class="m-1" src="assets/img/bubble.svg" alt="" />
          <span class="text-gray-light m-1" [innerHTML]="orderDetails.package?.arInstraction">
           
          </span>
        </div>
        <!-- <div class="d-flex justify-content-between">
          <img src="assets/img/bubble.svg" alt="" />
          <span class="text-gray-light mb-3">
            هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا
            النص من مولد النص
          </span>
        </div>
        <div class="d-flex justify-content-between">
          <img src="assets/img/bubble.svg" alt="" />
          <span class="text-gray-light mb-3">
            هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا
            النص من مولد النص
          </span>
        </div> -->
      </div>
      <div class="notes text-blue-light mt-3">
        <span class="block">
          <span class="pi pi-book"></span>
          <span class="bold"> {{ "ملاحظة" }}</span>
        </span>
        <span>
          {{ "يمكنك الغاء االطلب قبل 24 ساعة " }}
        </span>
      </div>
    </div>
  </div>
</div>

<p-dialog
  [header]="'الغاء طلب'"
  [modal]="true"
  [(visible)]="visibleCancelOrder"
  [style]="{ width: '25rem' }"
>
  <app-order-cancel
    (confirmOrder)="onCloseDialogWhenConfirm($event)"
  ></app-order-cancel>
</p-dialog>

<p-dialog
  [header]="'اضافة طلب اضافي'"
  [modal]="true"
  [(visible)]="visibleAdditionalItem"
  [style]="{ width: '25rem' }"
>
 <div>
  <textarea
  class="p-3 mt-3"
    rows="5"
    cols="30"
    pTextarea
    placeholder="ملاحظات"
    [(ngModel)]="orderAdditionalNotes"
  ></textarea>
</div>
<div>
  <button class="btn mt-3 w-100 btn-additional-item" [disabled]="orderAdditionalNotes==''"  (click)="confirmAdditionalItem()">{{ "اضافة طلب" }}</button>
</div>
</p-dialog>
