<div class="faqs-section-container container" *ngIf="faqsList">
  <div class="content">
    <div class="title">
      <p>{{ 'FAQ.TITLE' | translate }}</p>
    </div>
    <div class="desc mt-2 mb-3">
      <p>{{ 'FAQ.DESCRIPTION' | translate }}</p>
    </div>

    <ng-container *ngFor="let faq of faqsList; let i = index">
      <div class="mt-4">
        <p-panel 
          [header]="selectedLang == 'ar' ? faq.arTitle : faq.enTitle" 
          [toggleable]="true"
          [collapsed]="i !== 0">
          <p class="m-0" [innerHTML]="selectedLang == 'ar' ? faq.arDescription : faq.enDescription"></p>
        </p-panel>
      </div>
    </ng-container>
  </div>
</div>
